<div class="row">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <app-day-card></app-day-card>
    </div>
    <div class="col-sm-4">
      <app-day-card></app-day-card>
    </div>
    <div class="col-sm-4">
      <app-day-card></app-day-card>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-sm-4">
      <app-day-card></app-day-card>
    </div>
    <div class="col-sm-4">
      <app-day-card></app-day-card>
    </div>
    <div class="col-sm-4">
      <app-day-card></app-day-card>
    </div>
  </div>  
</div>

